<div class="about-blog">
  <h3>About the blog</h3>
  <hr>
  <p>This is a technology based blog, it is simply developed in Node.js and AngularJS by me after I learned it by myself
    recently.
  </p>
  <p>
    I would like to share my personal knowledge and experience here with you guys.
    They are simple, easy to learn and pretty useful. I hope you can learn a lot from my blog. If you like my post,
    you are welcome to share it with your friends. Please do email me if you have any suggestion about the blog.
  </p>
  <p>
    Last but not least, I am not professional nor expert, so I would appreciate a lot if you email and correct me when
    you
    found anything wrong in my posts.
  </p>
</div>
<div class="about-me">
  <h3>About me</h3>
  <hr>
  <h4>Profile</h4>
  <table width="100%">
    <tr>
      <td width="20%">Name</td>
      <td width="80%">Canice Lu</td>
    </tr>
    <tr>
      <td>Email</td>
      <td><a href="mailto:canice.lu@gmail.com">canice.lu@gmail.com</a></td>
    </tr>
    <tr>
      <td>Tech Skills</td>
      <td>Python, C++, Node.js, AngularJS, MySQL, Go, Web Development, Machine Learning</td>
    </tr>
    <tr>
      <td>Interests</td>
      <td>Travelling, Swimming, Badminton, Soccer, Basketball, Skiing, Movies</td>
    </tr>
  </table>
  <h4>Introduction</h4>
  <div class="introduction">
    <p>10 years coding experience since college, used to be an intern in Baidu and Toshiba in China, worked as an
      research & development software engineer on the fields of Ad targeting, recommendation and information
      retrieval. After graduation, I came to Singapore and joined Garena Online, the biggest internet company in
      Southeast Asia, as a full stack software engineer.</p>
  </div>
</div>
