<!-- Blog Post -->
<div ng-if="user && post">
  <a ng-show="isViewMode" class="btn btn-default" ng-click="toggleMode()">Edit </a>
  <a ng-show="isEditMode" class="btn btn-primary" ng-click="updatePost()">Done </a>
  <a ng-show="isEditMode" class="btn btn-default" ng-click="cancelUpdate()">Cancel </a>
  <a ng-show="isEditMode" class="btn btn-danger" ng-click="deletePost()">Delete </a>
  <hr>
</div>
<div ng-if="user && !post">
  <a class="btn btn-primary" ng-click="updatePost()">Done </a>
  <a class="btn btn-default" ng-click="cancelUpdate()">Cancel </a>
  <hr>
</div>

<div ng-if="post" ng-show="isViewMode">
  <!-- Title -->
  <h1>{{post.title}}</h1>
  <!-- Author -->
  <p class="lead">
    by <a href="javascript:;">{{post.author}}</a>
  </p>
  <hr>
  <!-- Date/Time -->
  <p><span class="glyphicon glyphicon-time"></span> Posted on {{post.updateDate | date:'medium'}}</p>
  <hr>
  <!-- Post Content -->
  <md ng-model="post.body"></md>
</div>

<div ng-if="post" ng-show="isEditMode">
  <div class="input-group col-lg-12">
    <input type="text" class="form-control" ng-model="post.title" placeholder="Title">
    <input type="text" class="form-control" ng-model="post.tags" placeholder="Tags">
    <textarea class="form-control" ng-model="post.bodyDes" rows="8"></textarea>
    <textarea class="form-control" ng-model="post.body" rows="20"></textarea>
  </div>

  <hr>
  <md ng-model="post.body"></md>
</div>

<div ng-if="!post">
  <div class="input-group col-lg-12">
    <input type="text" class="form-control" ng-model="newPost.title" placeholder="Title">
    <input type="text" class="form-control" ng-model="newPost.tags" placeholder="Tags">
    <textarea class="form-control" ng-model="post.bodyDes" rows="8"></textarea>
    <textarea class="form-control" ng-model="newPost.body" rows="20"></textarea>
  </div>

  <hr>
  <md ng-model="newPost.body"></md>
</div>
