<!-- Blog Post -->
<div ng-if="user && post">
  <a ng-show="isViewMode" class="btn btn-default" ng-click="toggleMode()">Edit </a>
  <a ng-show="isEditMode" class="btn btn-primary" ng-click="updatePost()">Done </a>
  <a ng-show="isEditMode" class="btn btn-default" ng-click="cancelUpdate()">Cancel </a>
  <a ng-show="isEditMode" class="btn btn-danger" ng-click="deletePost()">Delete </a>
  <hr>
</div>
<div ng-if="user && !post">
  <a class="btn btn-primary" ng-click="updatePost()">Done </a>
  <a class="btn btn-default" ng-click="cancelUpdate()">Cancel </a>
  <hr>
</div>

<div ng-if="post" ng-show="isViewMode">
  <!-- Title -->
  <h2>{{post.title}}</h2>
  <!-- Author -->
  <p>
    by {{post.author}}
  </p>
  <!-- Date/Time -->
  <p><span class="glyphicon glyphicon-time"></span> Posted on {{post.updateDate | date:'medium'}}</p>
  <hr>
  <!-- Post Content -->
  <div style="min-height: 300px;"><md ng-model="post.body"></md></div>
  <hr>
  <div class="share">
    <!-- Twitter -->
    <a href="http://twitter.com/home?status={{pageUrl}}" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
    <!-- Facebook -->
    <a href="https://www.facebook.com/sharer/sharer.php?u={{pageUrl}}" title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
    <!-- Google+ -->
    <a href="https://plus.google.com/share?url={{pageUrl}}" title="Share on Google+" target="_blank" class="btn btn-googleplus"><i class="fa fa-google-plus"></i> Google+</a>
    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary={{pageUrl}}" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin"><i class="fa fa-linkedin"></i> LinkedIn</a>
  </div>
</div>

<div ng-if="post" ng-show="isEditMode">
  <div class="input-group col-lg-12">
    <input type="text" class="form-control" ng-model="post.title" placeholder="Title">
    <input type="text" class="form-control" ng-model="post.tags" placeholder="Tags">
    <textarea class="form-control" ng-model="post.bodyDes" rows="8"></textarea>
    <textarea class="form-control" ng-model="post.body" rows="20"></textarea>
  </div>

  <hr>
  <md ng-model="post.body"></md>

</div>

<div ng-if="!post">
  <div class="input-group col-lg-12">
    <input type="text" class="form-control" ng-model="newPost.title" placeholder="Title">
    <input type="text" class="form-control" ng-model="newPost.tags" placeholder="Tags">
    <textarea class="form-control" ng-model="post.bodyDes" rows="8"></textarea>
    <textarea class="form-control" ng-model="newPost.body" rows="20"></textarea>
  </div>

  <hr>
  <md ng-model="newPost.body"></md>
</div>
